################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SentimentAnalysisTool.Api/wwwroot/slangs
/SentimentAnalysisTool.Api/wwwroot
